.mainNav {
	width: 100vw;
	height: 45px;
	position: fixed;
	background: black;
	top: 0;
	left: 0;
	border-bottom: 2px solid #4c4c4c;
	transform-origin: left top;
	/* -webkit-transform-origin: left top;
  transform: rotate(-90deg) translateX(-100%);
  -webkit-transform: rotate(-90deg) translateX(-100%); */
}
ul.nav {
	margin: 0;
	padding-right: 30px;
	height: 100%;
	width: 100vw;
}

ul.nav li.nav_logo {
	color: white;
	position: absolute;
	font-size: 1.5rem;
	font-family: cursive;
	font-style: italic;
}

ul.nav li {
	list-style: none;
	margin-right: 20px;
	padding: 0 20px;
	float: right;
	height: 100%;
	line-height: 45px;
}

ul.nav li:hover:not(.nav_logo) {
	background: #4c4c4c;
}
ul.nav li a {
	text-decoration: none;
	color: #fff;
	font-size: 1.2rem;
}
